services:
  # Base de datos (PostgreSQL)
  db:
    image: postgres:15
    container_name: database-app
    restart: always
    environment:
      POSTGRES_DB: mi_basedatos  
      POSTGRES_USER: postgres      
      POSTGRES_PASSWORD: postgres   
    volumes:
      - db_data:/var/lib/postgresql/data 
    networks:
      - red-app

  # Backend (Spring Boot)
  backend:
    image: mi-backend        
    container_name: backend-app
    restart: on-failure
    depends_on:
      - db                  
    environment:
      DB_HOST: db             
      DB_PORT: 5432
      DB_NAME: mi_basedatos  
      DB_USER: postgres       
      DB_PASSWORD: postgres   
    ports:
      - "8080:8080"    
    networks:
      - red-app

  # Frontend (React + Nginx)
  frontend:
    image: mi-frontend      
    container_name: frontend-app
    restart: on-failure
    depends_on:
      - backend
    ports:
      - "3000:80"       
    networks:
      - red-app

volumes:
  db_data: 

networks:
  red-app:
    driver: bridge